.navBar {
  background-color: hsl(var(--clr-white) / 0.05);
  backdrop-filter: blur(1.5rem);
}

.ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.ul2 {
  display: flex;
  gap: 2rem;
}

.li {
  display: flex;
  cursor: pointer;
  padding-block: 32px;

  &:hover {
    border-bottom: 0.2rem solid hsl(var(--clr-light));
  }
}

.li2 {
  padding-block: 8px;
}

.title,
.num {
  color: hsl(var(--clr-white));
  font-size: 18px;
  text-transform: uppercase;
}

.num {
  margin-right: 9px;
}

.title {
  font-weight: 200;
}

.active {
  border-bottom: 0.2rem solid hsl(var(--clr-white));

  &:hover {
    border-bottom: 0.2rem solid hsl(var(--clr-white));
  }
}

@media (max-width: 768px) {
  .ul2 {
    justify-content: center;
  }
}

.toggleIconContainer {
  display: none;
}

@media (max-width: 600px) {
  // .hideNav {
  //   display: none;
  // }
  .mainNav {
    width: 70vw;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 32px;
    z-index: 5;

    .toggleIconContainer {
      display: flex;
      justify-content: right;
    }

    .ul {
      gap: 0;
      justify-content: start;
      margin-top: 100px;
    }

    .active {
      border-bottom: none;
    }

    .li {
      padding-block: 0 32px;

      &:hover {
        border-bottom: none;
      }
    }
  }
  .ul {
    flex-direction: column;
    min-height: 100vh;
    position: sticky;
  }
}
