.navBar {
  background-color: hsl(var(--clr-white) / 0.05);
  //   padding-block: 32px;
  backdrop-filter: blur(1.5rem);
}

.ul {
  display: flex;
  gap: 1rem;
  //   margin: auto;
  justify-content: center;
}

.li {
  display: flex;
  cursor: pointer;
  border-bottom: 0.2rem solid hsl(var(--clr-white));
  padding-block: 32px;

  &:hover {
    color: red;
  }
}

.title,
.num {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

.num {
  margin-right: 9px;
}
