.navBar {
  background-color: hsl(var(--clr-white) / 0.05);
  backdrop-filter: blur(1.5rem);
}

.ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.ul2 {
  justify-content: unset;
}

.li {
  display: flex;
  cursor: pointer;
  padding-block: 32px;

  &:hover {
    border-bottom: 0.2rem solid hsl(var(--clr-light));
  }
}

.li2 {
  padding-block: 8px;
}

.title,
.num {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

.num {
  margin-right: 9px;
}

.title {
  font-weight: 200;
}

.active {
  border-bottom: 0.2rem solid hsl(var(--clr-white));

  &:hover {
    border-bottom: 0.2rem solid hsl(var(--clr-white));
  }
}
