.destination {
  .flex {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }

  .right {
    flex-basis: 40%;
  }

  .img {
    max-width: 100%;
    object-fit: cover;
    animation: spin 50s linear infinite;
  }

  .nav {
    background-color: unset;
    backdrop-filter: unset;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .extra {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    border-top: 1px solid hsl(var(--clr-white) / 0.1);
    padding-top: 40px;
  }

  @media (max-width: 768px) {
    .flex {
      flex-direction: column;
    }

    .imgContainer {
      display: flex;
      justify-content: center;
    }

    .img {
      max-width: 50%;
    }

    .extra {
      justify-content: center;
    }
  }

  @media (max-width: 400px) {
    .extra {
      flex-direction: column;
      align-items: center;
    }
  }
}
