.technology {
  .mainContent {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  .left {
    flex-basis: 45%;
    display: flex;
    gap: 2rem;
  }

  .numContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .num {
    border-radius: 50%;
    border: 1px solid hsl(var(--clr-white) / 0.25);
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    cursor: pointer;
    font-size: 2rem;
    font-family: var(--ff-serif);

    &:hover {
      border: 1px solid hsl(var(--clr-white));
    }
  }

  .active {
    background-color: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
  }

  .imgContainer {
    flex-basis: 40%;
  }
  .sectionTitle {
    font-size: 52px !important;
    text-transform: uppercase;
    letter-spacing: unset !important;
  }

  .sectionSubtitle {
    font-family: var(--ff-serif);
    font-size: 16px !important;
    letter-spacing: unset !important;
    text-transform: uppercase;
    color: hsl(var(--clr-white) / 0.5);
  }

  @media (max-width: 768px) {
    .mainContent {
      flex-direction: column-reverse;
    }

    .left {
      flex-direction: column;
    }

    .numContainer {
      flex-direction: row;
      justify-content: center;
      margin-block: 2rem;
    }

    .imgContainer {
      width: 100vw;
    }

    .img {
      max-height: 270px;
      width: 100vw;
    }

    .sectionTitle {
      font-size: 24px !important;
    }
  }

  @media (max-width: 600px) {
    .numContainer {
      margin-block: 0.5rem;
    }

    .num {
      height: 40px;
      width: 40px;
      font-size: 1.125rem;
    }
  }
}
