.home {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .first {
    flex-basis: 45%;
  }

  .second {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    padding: 3rem;
    color: hsl(var(--clr-dark));
    font-size: 2rem;
    aspect-ratio: 1;
    font-family: var(--ff-serif);
  }

  .h2 {
    letter-spacing: 4.75px;
    margin-bottom: 10px;
  }

  .h1 {
    font-size: 100px;
    letter-spacing: 4.75px;
    font-family: var(--ff-serif);
  }

  .p {
    font-weight: 400;
    line-height: 2;
    color: hsl(var(--clr-light));
  }
}
