.home {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .first {
    flex-basis: 45%;
  }

  .second {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    padding: 3.5rem;
    color: hsl(var(--clr-dark));
    font-size: 2rem;
    aspect-ratio: 1;
    font-family: var(--ff-serif);
  }
}
