.crew {
  max-width: 100%;
  .flex {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .left {
    flex-basis: 40%;
  }

  .toggleContainer {
    display: flex;
    gap: 0.5rem;
    margin-top: 6rem;
  }

  .toggle {
    height: 15px;
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: hsl(var(--clr-white) / 0.25);

    cursor: pointer;
  }

  .active {
    background-color: hsl(var(--clr-white));
  }

  .sectionTitle {
    font-size: 52px !important;
    text-transform: uppercase;
    letter-spacing: unset !important;
  }

  .sectionSubtitle {
    font-family: var(--ff-serif);
    font-size: 32px !important;
    text-transform: uppercase;
    color: hsl(var(--clr-white) / 0.5);
  }

  .imgContainer {
    flex-basis: 50%;
  }

  .img {
    max-width: 100%;
    flex-basis: 50%;
  }

  @media (max-width: 768px) {
    .flex {
      flex-direction: column-reverse;
    }

    .img {
      max-width: 40%;
      object-fit: cover;
    }

    .toggleContainer {
      justify-content: center;
    }

    .imgContainer {
      display: flex;
      justify-content: center;
      flex-basis: unset;
    }
  }

  @media (max-width: 600px) {
    .toggleContainer {
      margin-top: 2rem;
    }
    .sectionTitle {
      font-size: 24px !important;
    }

    .sectionSubtitle {
      font-size: 16px !important;
    }
  }
}
